<%- include ('../../partials/head')%>
<%- include ('../../partials/menu')%>

    <div id="container-publish-school">
        <form action="/escola/<%=escola._id%>/noticia/<%=noticia._id%>?_method=PUT" method="post">
            <div id="content-publish-school">
                <h1>Edite sua noticia!</h1>
                <div class="item-notice-form">
                    <label>Título
                        <input type="text" name="titulo" id="titulo" value="<%=noticia.titulo%>">
                    </label>
                    <label>Descrição:
                        <textarea name="descricao"><%=noticia.descricao%></textarea>
                    </label>
                    <label>Data de publicação:
                        <% 
                           //console.log("data original: " + noticia.data_post);
                           const data = new Date(noticia.data_post);
                           const dataConvertida = data.getUTCFullYear() + "-" + ("0" + (data.getUTCMonth()+1)).slice(-2) + "-" + ("0" + data.getUTCDate()).slice(-2);
                           //console.log("data convertida: " + dataConvertida);
                        %>
                        <input type="date" name="data_post" id="data_post" value="<%=dataConvertida%>">
                    </label>
                </div>
                <button>Editar notícia</button>
            </div>
        </form>
    </div>
<%- include ('../../partials/footer')%>