<%- include ('../../partials/head')%>
<%- include ('../../partials/menu')%>
    <div id="container-publish-school">
        <form action="/escola/<%=escola._id%>/projeto/<%=projeto._id%>?_method=PUT" method="POST">
            <div id="content-publish-school">
                <h1>Edite seu projeto</h1>
                <div id="publish-project">
                    <label id="for="titulo">Título do projeto:
                        <input type="text" name="titulo" id="titulo" value="<%=projeto.titulo%>">
                    </label>
                    <label for="descricao">Descrição:
                        <textarea name="descricao" id="descricao" value="<%=projeto.descricao%>"  cols="30" rows="10"><%=projeto.descricao%></textarea>
                    </label>
                    <label for="coordenador">Coordenador:
                        <input type="text" name="coordenador" id="coordenador" placeholder="Insira o nome do coordenador" value="<%=projeto.coordenador%>">
                    </label>
                    <label for="contato">Contato:
                        <input type="text" name="contato" id="contato" value="<%=projeto.contato%>">
                    </label>
                    <label for="data_inicio">Data de início do projeto:
                        <% 
                           const data = new Date(projeto.data_inicio);
                           const dataConvertida = data.getUTCFullYear() + "-" + ("0" + (data.getUTCMonth()+1)).slice(-2) + "-" + ("0" + data.getUTCDate()).slice(-2);
                        %>
                        <input type="date" name="data_inicio" id="data_inicio" value=<%=dataConvertida%>>
                    </label>
                    
                </div>
                <button>Editar projeto</button>
           </div>
           
        </form>
    </div>
</div>
<%- include ('../../partials/footer')%>