<%- include ('../partials/head')%>
<%- include ('../partials/menu')%>

    <div class="content-form" id="edit-form-school">
        <div class="title-form">Edite seus dados!</div>
        
            <form action="/escola/<%=escola._id%>?_method=PUT" method="POST">
                <div class="escola-details">
                    <div class="input-form">
                        <label for="nome"><span class="details">Nome da Escola:</span>
                            <input type="text" name="nome" id="nome" value="<%=escola.nome%>" readonly>
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="endereco"><span class="details">Endereço:</span>
                            <input type="text" name="endereco" id="endereco" placeholder="Informe o endereço" value="<%=escola.endereco%>">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="id_inep"><span class="details">INEP:</span>
                            <input type="number" name="id_inep" id="id_inep" value="<%=escola.id_inep%>">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="latitude"><span class="details">Latitude: <span class="btn-help" onClick="openModal()">?</span></span>
                            <input type="text" name="latitude" id="latitude" value="<%=escola.latitude%>">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="longitude"><span class="details">Longitude: <span class="btn-help" onClick="openModal()">?</span></span>
                            <input type="text" name="longitude" id="longitude" value="<%=escola.longitude%>">
                        </label>
                    </div>
                    
                    <div class="input-form">
                        <label for="responsavel"> <span class="details">Responsável do cadastro:</span>
                            <input type="text" name="responsavel" id="responsavel" value="<%=escola.responsavel%>">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="contato"><span class="details">Email:</span>
                            <input type="email" name="email" id="email" value="<%=escola.email%>">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="tel1"><span class="details">Telefone:</span>
                            <input type="tel" name="tel1" id="tel1" value="<%=escola.tel1%>">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="tel2"><span class="details">Telefone:</span>
                            <input type="tel" name="tel2" id="tel2" value="<%=escola.tel2%>">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="modalidade"><span class="details">Modalidade:</span>
                            <select name="modalidade" class="modalidade">
                                <option><%=escola.modalidade%></option>
                                <option>Regular</option>
                                <option>EJA</option>
                                <option>PROEJA</option>
                                <option>Profissional e tecnológica</option>
                                <option>Indigena</option>
                                <option>Quilombola</option>
                                <option>Educação do Campo</option>
                            </select>
                        </label>
                    </div>
              
                    <div class="input-form">
                        <label for="horario_func"><span class="details ">Horário de funcionamento:</span>
                            <input type="time" name="horario_funcMin" id="horario_funcMin" required> até <input type="time"
                                name="horario_funcMax" id="horario_funcMax" required>
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="facebook"><span class="details">Facebook </span>
                            <input type="text" name="facebook" id="facebook" placeholder="O Facebook de sua escola">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="youtube"><span class="details">Youtube </span>
                            <input type="text" name="youtube" id="youtube" placeholder="Seu canal no Youtube">
                        </label>
                    </div>
                    
                    <div class="input-form">
                        <label for="instagram"><span class="details">Instagram </span>
                            <input type="text" name="instagram" id="instagram" placeholder="O Instagram de sua escola">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="site"><span class="details">Site </span>
                            <input type="text" name="site" id="site" placeholder="O site de sua escola">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="blog"><span class="details">Blog </span>
                            <input type="text" name="blog" id="blog" placeholder="O blog de sua escola">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="ano_fund"><span class="details">Ano de fundação:</span>
                            <input type="date" name="ano_fund" id="ano_fund">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="calendario"><span class="details">Calendário </span>
                            <input type="calendario" name="calendario" id="calendario" placeholder="Link para calendario">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="proj_pol_pedag"><span class="details">Projeto Político Pedagógico </span>
                            <input type="proj_pol_pedag" name="proj_pol_pedag" id="proj_pol_pedag" placeholder="Link para o Projeto Político Pedagogico">
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="username"><span class="details">Username:</span>
                            <input type="text" name="username" id="username" value="<%=escola.username%>" readonly>
                        </label>
                    </div>
                    <div class="input-form">
                        <label for="password"><span class="details">Senha:</span>
                            <input type="password" name="password" id="password" placeholder="Informe sua senha" required>
                        </label>
                    </div>
                </div>
                <div class="input-type">
                    <input type="radio" required class="tipo_inst-radio"name="tipo_inst" value="Federal"><label for="federal">Federal</label></input>
                    <input type="radio" required class="tipo_inst-radio" name="tipo_inst" value="Estadual"><label for="estadual"> Estadual</label></input>
                    <input type="radio" required class="tipo_inst-radio" name="tipo_inst" value="Municipal"><label for="municipal"> Municipal</label></input>
                </div>
                <button class="btn-submit-new" type="submit" id="btn-submit-edit">Salvar alterações</button>
            </div>
        </form>
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">X</span>
                <h1>Como encontrar as coordenadas de sua escola</h1>
                <p>A maneira mais simples para encontrar as coordenadas de sua escola é por meio do Google Maps. Porém, você pode fazer isso pelo computador ou pelo celular. </p> 
                <br>
                <h3>Método pelo computador:</h3>
                <p>Abra o Google Maps em seu navegador e procure o endereço de seu interesse, após, clique com o botão direito do mouse em cima do local desejado.</p>
                <p>Você deve estar na seguinte página:</p>
                <img src="/images/coordenada.png" />
                <p>Você perceberá que a primeira opção, assim que clicar com o botão direito do mouse no local desejado, são um par de números, separados por vírgula,
                onde, respectivamente, temos latitude e longitude.</p>
                <br>
                <h3>Método pelo celular:</h3>
                <p>Abra o aplicativo do Google Maps, procure o endereço de sua escola, após, clique no mapa em cima do local desejado 
                e você perceberá que o aplicativo criará um marcador vermelho no local. </p>
                <p>Você deverá ver a seguinte interface:</p>
                <img src="/images/marcador.jpeg" width="270" height="450" />
                <p>Agora basta puxar a aba que contém as informações do endereço selecionado para cima, e você terá as coordenadas, respectivamente, latitude e longitude.</p>
                <p>Como exibido na imagem abaixo:</p>
                <img src="/images/coordenada_2.png" width="270" height="450" />
            </div>
    </div>
</div>
    <%- include ('../partials/footer')%>