<%- include ('../partials/head')%>
<%- include ('../partials/menu')%>
    <div id="menu-dash-info">
        <h1>Olá, <%=escola.nome%></h1>
        <ul>
            <li><span><%=escola.nome%></span</li>
            <li><span><%=escola.tel1%></span></li>
            <li><span><%=escola.email%></span></li>
            <% if (escola.calendario) {%>
                <li>
                    <a href="http://<%=escola.calendario%>" target="_blank">Calendário escolar</a>
                </li>
              <%}%>
              <% if (escola.proj_pol_pedag) {%>
                <li>
                    <a href="http://<%=escola.proj_pol_pedag%>" target="_blank">Projeto Político Pedagógico</a>
                </li>
              <%}%>
        </ul>
    </div>
        <div id="menu-dash-content-event">
            <h1>Gerencie suas publicações</h1>
            <select class="select_publish" id="data_select" onChange="verifyOption()">
                <option value="clear">Escolha o tipo de publicação</option>
                <option value="eventos">Eventos</option>
                <option value="noticias">Noticias</option>
                <option value="projetos">Projetos</option>
            </select>
            <div class="item-publish">
                <div id="noticias">
                    <% if (escola.noticias) {%>
                        <% for (noticia of escola.noticias) {%>
                            <% if (noticia) {%>
                                <div class="content-noticias">
                                    <div class="noticia">
                                        <div id="header-notice-profile<%=noticia._id%>">
                                            <h2> <%=noticia.titulo%></h2>
                                            <div class="icons">
                                                <form action="/escola/<%=escola._id%>/noticia/<%=noticia._id%>?_method=DELETE" method="post">
                                                    <button><i class="icon-notice-settings"data-feather="trash-2"></i></button>
                                                </form>
                                                <a href="/escola/<%=escola._id%>/noticia/<%=noticia._id%>/edit"><i class="icon-notice-settings"data-feather="edit-2"></i></a>
                                            </div>
                                        </div>
                                        <%
                                            const data = new Date(noticia.data_post);
                                            const dataConvertida = ("0" + data.getUTCDate()).slice(-2) + "/" + ("0" + (data.getUTCMonth()+1)).slice(-2) + "/" + data.getUTCFullYear();
                                        %>
                                        <h5><%= dataConvertida %></h5>
                                        <p><%=noticia.descricao.substring(0, 100)%></p>
                                        <button id="btnModal<%=noticia._id%>" onclick="document.getElementById('modal<%=noticia._id%>').style.display='block'">Veja mais</button>
                                        <div id="modal<%=noticia._id%>" class="modal">
                                            <div class="modal-content">
                                                <span class="close" onclick="document.getElementById('modal<%=noticia._id%>').style.display='none'">X</span>
                                                <h1><%=noticia.titulo%></h1>
                                                <h2>><%= dataConvertida %></h2>
                                                <p><%=noticia.descricao%></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                       <% } %>
                    <% } %>
                    <a href="/escola/<%=escola._id%>/noticia/new"><button id="btn-add-school-data">Cadastrar nova notícia</button></a>
                </div>
            </div>
            <% if (escola.eventos) {%>
           <div class="item-publish">           
                <div id="eventos">
                    <% for (evento of escola.eventos) {%>
                    <div class="event">
                        <h2><%=`${evento.data_inicio.getDay()}/${evento.data_inicio.getMonth()}`%></h2>
                        <h4><%=evento.nome_evento%></h4>
                        <div class="icons">
                            <form action="/escola/<%=escola._id%>/noticia/<%=noticia._id%>?_method=DELETE" method="post">
                                <button id="button-border"><i class="icon-notice-settings"data-feather="trash-2"></i></button>
                            </form>
                            <a href="/escola/<%=escola._id%>/noticia/<%=noticia._id%>/edit"><i class="icon-notice-settings"data-feather="edit-2"></i></a>
                        </div>
                    </div>   
                    <%}%>
               <a href="/escola/<%=escola._id%>/evento/new"><button id="btn-add-school-data">Cadastrar novo evento</button></a>     
               </div> 
               <%}%>
            </div>                   
            <div class="item-publish">
                <div id="projetos">
                    <% if (escola.projetos) {%>
                        <% for (projeto of escola.projetos) {%>  
                            <div id="content-project">
                            <div id="header-notice-profile">
                                <div id="fields-project">
                                    <h2><%=projeto.titulo%></h2>
                                    <div class="icons">
                                        <form action="/escola/<%=escola._id%>/projeto/<%=projeto._id%>?_method=DELETE" method="post">
                                            <button id="button-border"><i class="icon-notice-settings"data-feather="trash-2"></i></button>
                                        </form>
                                        <a href="/escola/<%=escola._id%>/projeto/<%=projeto._id%>/edit"><i class="icon-notice-settings"data-feather="edit-2"></i></a>
                                    </div>
                                    <p><%=projeto.descricao%></p>
                                </div>
                            </div>
                        <%}%>
                        
                    <%}%>
                    <a href="/escola/<%=escola._id%>/projeto/new"><button id="btn-add-school-data">Cadastrar um novo  projeto</button></a>
                </div>                        
            </div>  
        </div>
        </div>       
</div>

    <%- include ('../partials/footer')%>