<%- include ('../partials/head')%>
    <div class="menu-dash">
        <div class="icon">
            <i class="icon-dash" data-feather="home"></i>
            <a href="/escola/<%=escola._id%>/edit"><i class="icon-dash" data-feather="edit-2"></i></a>
            <i class="icon-dash" data-feather="calendar"></i>
            <a href="/logout"><i class="icon-dash" id="logout-icon" data-feather="log-out"></i></a>
        </div>
        <div id="menu-dash-container">
            <div id="menu-dash-content-info">
                <div id="menu-dash-info">
                <h1>Olá, Escola</h1>
                <ul>
                    <li><span><%=escola.nome%></span</li>
                    <li><span><%=escola.tel1%></span></li>
                    <li><span><%=escola.email%></span></li>

                </ul>
            </div>
                <div id="menu-dash-content-event">
                    <h2>Próximos eventos</h2>
                    <div class="event">
                        <h3>23 fev</h3>
                        <h4>Matriculas</h4>
                    </div>
                    <button id="btn-event">Cadastrar novo evento</button>
                </div>
            </div>
            
        </div>
    </div>

    <%- include ('../partials/footer')%>