<%- include ('../partials/head')%>
    <%- include ('../partials/menu')%>
                <div id="menu-dash-info">
                <h1>Olá, <%=escola.nome%></h1>
                <ul>
                    <li><span><%=escola.nome%></span</li>
                    <li><span><%=escola.tel1%></span></li>
                    <li><span><%=escola.email%></span></li>

                </ul>
            </div>
                <div id="menu-dash-content-event">
                    <h2>Próximos eventos</h2>
                    <div class="event">
                        <h2>23 fev</h2>
                        <h4>Matriculas</h4>
                    </div>
                    <a href="/escola/<%=escola._id%>/noticia/new"><button id="btn-event">Cadastrar nova notícia</button></a>
                    <a href="/escola/<%=escola._id%>/evento/new"><button id="btn-event">Cadastrar novo evento</button></a>
                </div>
            </div>
        </div>
        </div>
    </div>

    <%- include ('../partials/footer')%>