<%- include ('partials/head')%>
    <h3>Confirmação do Cadastro</h3>
    <h5> Nome da Escola</h5>
    <p><%=nome_escola%></p>
    <h5> Endereço</h5>
    <p><%=endereco%></p>
    <h5> Código INEP: </h5>
    <p><%=INEP%></p>
    <h5> Nome do Responsável</h5>
    <p><%=responsavel%></p>
    <h5>E-mail: </h5>
    <p><%=email%></p>
    <h5>Telefone </h5>
    <p><%=telefone%></p>
    <h5> Modalidade</h5>
    <p><%=modalidade%></p>
    <h5> Tipo de Instituição</h5>
    <p><%=tipoInst%></p>
    <h5>Horário de atendimento: </h5>
    <p><%=horario%></p>
    <h5>Foto </h5>
    <p><%= foto%></p>
    <h5>Ano de fundação</h5>
    <p><%=ano%></p>
    

<%- include ('partials/footer')%>