<%- include ('../partials/head')%>

    <div class="container-escola">
        <% if (escola) {%>
            <div class="content-escola">
                <div class="info-escola">
                    <div id="head-escola">
                        <h1><%= escola.nome %></h1>
                        <p><%= escola.modalidade %> | Esfera <%=escola.tipo_inst%></p>
                    </div>
                    <div class="container-info">
                        <div class="info-geral">
                            <h2>Informações gerais</h2>
                            <ul>
                                <li><i class="icon-info" data-feather="home"></i><%=escola.endereco%></li>
                                <li><i class="icon-info"data-feather="phone"></i><%=escola.tel1%></li>
                                <li><i class="icon-info" data-feather="at-sign"></i><%=escola.email%></li>
                                <li><i class="icon-info"data-feather="clock"></i>Horário de atendimento</li>
                            </ul>
                        </div>
                        <div class="info-evento">
                            <h2>Eventos e projetos</h2>
                            <div class="data-evento">
                                <h3>23 Set</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam consequatura recusandae. Tempore sed pariaturex numquam ipsam ad? Hic maximeblanditiis ad placeat minus voluptatemsequi provident a nam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="noticias">
                        <h2>Noticias</h2>
                        <div class="content-noticias">
                            <h3>Lorem</h3>
                            <h5>29 de outubro de 2021</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi sint libero suscipit consequatur corrupti atque velit at quae totam soluta! Doloribus exercitationem alias doloremque soluta adipisci laboriosam odio aut delectus?</p>
                            <button id="btnModal" onclick="openModal()">Veja mais</button>
                            <div id="modal">
                                <div class="modal-content">
                                    <span class="close" onclick="closeModal()">X</span>
                                    <h1>Lorem</h1>
                                    <h2>08 de novembro de 2021</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eligendi sunt impedit, fugiat accusamus, quis at eveniet voluptates tempore atque sequi vero tempora rerum adipisci consectetur qui, mollitia repudiandae placeat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        <% } %>
    </div>

    <%- include ('../partials/footer')%>