<%- include ('../partials/head')%>

<div class="container-escola">
  <% if (escola) {%>
  <div class="content-escola">
    <div class="info-escola">
      <div class="social-media">
        <% if (escola.facebook) {%>
          <a href="http://<%=escola.facebook%>" target="_blank">
            <i class="redes-sociais" id="" data-feather="facebook"></i>
          </a>
        <% } %>
        <% if (escola.youtube) {%>
          <a href="http://<%=escola.youtube%>" target="_blank">
            <i class="redes-sociais" data-feather="youtube"></i>
          </a>
        <%}%>
        <% if (escola.instagram) { %>
          <a href="http://<%=escola.instagram%>" target="_blank">
            <i class="redes-sociais" data-feather="instagram"></i>
          </a>
        <%}%>
        <% if (escola.blog) { %>
          <a href="http://<%=escola.blog%>" target="_blank">
            <i class="redes-sociais" data-feather="bold"></i>
          </a>
        <%}%>
        <% if (escola.site) { %>
          <a href="http://<%=escola.site%>" idtarget="_blank">
            <i class="redes-sociais" data-feather="monitor"></i>        
          </a>
        <%}%>         

      </div>

      <div id="head-escola">
        <h1><%= escola.nome %></h1>
        <p><%= escola.modalidade %> | Esfera <%=escola.tipo_inst%></p>
        <button id="btnModal" class="btn-denuncia" onclick="document.getElementById('modal').style.display='block'">Essa escola não existe?</button>
              <div id="modal" class="modal">
                <div class="modal-content">
                  <span class="close" onclick="document.getElementById('modal').style.display='none'">X</span>
                  <h1>Denúncia de escola falsa</h1>
                  <div class="content-denuncia">
                    <form action="/escola/<%=escola._id%>/denuncia" method="POST">
                      <input type="checkbox" name="denuncia" id="denuncia"> Declaro que essa escola não existe e seu cadastro deve ser analisado e removido.
                      <br>
                      <button>Enviar</button>
                    </form>
                    
                  </div>
                  
                </div>
              </div>
      </div>
      <div class="container-info">
        <div class="info-geral">
          <h2>Informações gerais</h2>
          <ul>
            <li>
              <i class="icon-info" data-feather="home"></i><%=escola.endereco%>
            </li>
            <li>
              <i class="icon-info" data-feather="phone"></i><%=escola.tel1%>
            </li>
            <li>
              <i class="icon-info" data-feather="at-sign"></i><%=escola.email%>
            </li>
            <li>
              <i class="icon-info" data-feather="clock"></i
              ><%=escola.horario_funcMin%> até <%=escola.horario_funcMax%>
            </li>
            <% if (escola.calendario) {%>
            <li>
              <i class="icon-info" data-feather="calendar"></i>
              <a href="http://<%=escola.calendario%>" target="_blank"
                >Calendário escolar</a
              >
            </li>
            <%}%> <% if (escola.proj_pol_pedag) {%>
            <li>
              <i class="icon-info" data-feather="file-text"></i>
              <a href="http://<%=escola.proj_pol_pedag%>" target="_blank"
                >Projeto Político Pedagógico</a
              >
            </li>
            <%}%>
          </ul>
        </div>
       
      </div>
      <div class="publish-info">
          <% if (escola.eventos.lenght > 0) {%> 
          <div class="data-evento">
            <h2>Eventos</h2>  
            <% for (evento of escola.eventos) {%>
                <ul>
                  <% const data = new Date(evento.data_inicio); const dataConvertida =
                  ("0" + data.getUTCDate()).slice(-2) + "/" + ("0" +
                  (data.getUTCMonth()+1)).slice(-2) + "/" + data.getUTCFullYear(); %>
                  <h3><%= evento.nome_evento%></h3>
                  <h3><%= dataConvertida %></h3>
                  <div class="content-evento">
                    <h4>Descrição</h4>
                    <p class="descricao"><%= evento.descricao %></p>
                    <h4>Endereço:</h4>
                    <p><%= evento.endereco %></p>
                    <h4>Data de Encerramento:</h4>
                    <% const dataFim = new Date(evento.data_fim); const
                    dataFimConvertida = ("0" + data.getUTCDate()).slice(-2) + "/" + ("0"
                    + (data.getUTCMonth()+1)).slice(-2) + "/" + data.getUTCFullYear();
                    %>
                    <p><%= dataFimConvertida %></p>
                    <h4>Horário:</h4>
                    <p class="horario">
                      <%= evento.hora_inicio%> - <%= evento.hora_fim%>
                    </p>
                  </div>
                </ul>
              
            <%}%> 
          </div>
          <%}%>
        <%}%>
        <% if (escola.projetos.lenght > 0) { %> 
          <div class="data-projetos">
            <h2>Projetos</h2>
            <ul>
              <% for (projeto of escola.projetos) {%>
              <% const data = new Date(projeto.data_inicio); const dataConvertida
              = ("0" + data.getUTCDate()).slice(-2) + "/" + ("0" +
              (data.getUTCMonth()+1)).slice(-2) + "/" + data.getUTCFullYear(); %>
              <h3><%=projeto.titulo %></h3>
              <h5><%= dataConvertida %></h5>

              <p class="descricao"><%= projeto.descricao %></p>
              <h4>Coordenador:</h4>
              <p><%= projeto.coordenador%></p>
              <h4>Contato:</h4>
              <p class="contato"><%= projeto.contato%></p>
            </ul>
          </div>
        <%}%>
      </div>
      

      <div class="noticias">
        <% if (escola.noticias) %>
          <% for (noticia of escola.noticias) {%> <% if (noticia) {%>
          <h2>Noticias</h2>
          <div class="content-noticias">
            <div class="noticia">
              <h2><%=noticia.titulo%></h2>
              <% const data = new Date(noticia.data_post); const dataConvertida =
              ("0" + data.getUTCDate()).slice(-2) + "/" + ("0" +
              (data.getUTCMonth()+1)).slice(-2) + "/" + data.getUTCFullYear(); %>
              <h5><%= dataConvertida %></h5>
              <p><%=noticia.descricao.substring(0, 100)%></p>
              <button id="btnModal<%=noticia._id%>" onclick="document.getElementById('modal<%=noticia._id%>').style.display='block'">Veja mais</button>
              <div id="modal<%=noticia._id%>" class="modal">
                <div class="modal-content">
                  <span class="close" onclick="document.getElementById('modal<%=noticia._id%>').style.display='none'">X</span>
                  <h1><%=noticia.titulo%></h1>
                  <h2><%= dataConvertida %></h2>
                  <p><%=noticia.descricao%></p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <% } %> <% } %> <% } %>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
