<%- include ('../partials/head')%>
<div id="adm">
    <div id="container">
        <h1>Novas denúncias</h1>
       
        <div class="content">
            <table>
                <tr>
                    <th>ID da Escola</th>
                    <th>Nome da Escola</th>
                    <th>Data da denúncia</th>
                    <th>Analisado</th>
                    <th>Excluir</th>
                </tr>
                <% if (data) {%>
                <div id="info">
                    <tr>
                        <% for(denuncia of data) {%>
                            <% for (info of denuncia.denuncias) {%>
                                <td><%=info.id_escola%></td>
                                
                                <td><%=info.nome_escola%></td>
                                <td><%=info.data_denuncia%></td>
                       
                        <td><input type="checkbox" name="analisado" id="analisado"></td>
                        <td>
                            <form action="/">
                                <button ><i class="icon-dash" data-feather="trash-2"></i></button>
                            </form>
                        </td>
                        <br> 
                        
                    </tr>
                    <%}%>
                        <%}%>
                </div>
            </table>
        </div>
        <%}%>
    </div>
</div>

<%- include ('../partials/footer') %>
